<!-- FOOTER -->
<footer class="py-2 d-print-none" id="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        {% if page.footer_center %}
          {{ page.footer_center }}
        {% endif %}
      </div>
    </div>
  </div>
</footer>
<footer class="pt-2 pb-3 justify-content-center d-flex" id="page-footer-sub">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="d-flex justify-content-center law">
          <p class="text-center">© {{ "now"|date('Y') }} by Oldphoto. {{ 'All rights reserved'|t }}
            zastrzeżone
          </p>
        </div>
      </div>
    </div>
</div>
</footer>
<!-- FOOTER -->


<!-- MODAL CONTAINER -->
{% if page.modal_container %}
  {{ page.modal_container }}
{% endif %}
<!-- MODAL CONTAINER -->
